cleanup = false

workDir = './work'

params {
    publishMode = 'symlink'
    supportDataDir = './result/support_data'
    sanityCheckDir = './result/sanity_check'
    
    species_ID = "9606"
    species = "human"
    semsim_type = "gic"

    network_path = "./dataset/intact.txt"
    xml_template_path = "./dataset/sml-xmlconf_all.xml"
}

process {
    executor = 'slurm'

    time = '7d'
    errorStrategy = 'finish'
    container = 'file://env/phuego_generate_net.sif'
}

singularity {
    enabled = true
    autoMounts = true
}

dag {
    enabled = true
    file = 'flowchart.png'
    overwrite = true
}

trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
}

report {
    enabled = true
    overwrite = true
    file = 'report.html'
}

