cleanup = false

workDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/work'

params {
    publishMode = 'symlink'

    netDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/networks'

    semsimDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/semantic_similarity'
    randomNetDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/random_networks'
    nodeCombiDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/nodes_combinations'
    AvsAxmlDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/all_vs_all_sem_sim_xml'
    AvsAsemsimDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/all_vs_all_sem_sim'

    network_path = "/nfs/research/petsalaki/users/hchen/phuego_generate_networks/dataset/intact.txt"
    
    species_ID = "9606"
    species = "human"
}


dag {
    enabled = true
    file = 'flowchart.png'
    overwrite = true
}

conda {
    useMamba = true
    enabled = true
}

env {
    out_dir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result'
}

process {
    executor = 'slurm'
    memory = '4G'
    errorStrategy = 'finish'
    time = '7d'
}

trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
}

report {
    enabled = true
    overwrite = true
    file = 'report.html'
}