cleanup = false

workDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/work'

params {
    publishMode = 'symlink'

    netDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/networks'

    semsimDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/semantic_similarity'
    randomNetDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/random_networks'
    nodeCombiDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/nodes_combinations'
    AvsAxmlDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/all_vs_all_sem_sim_xml'
    AvsAsemsimDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/all_vs_all_sem_sim'
    rawNetDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/raw'
    normNetDir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result/laplacian'

    network_path = "/nfs/research/petsalaki/users/hchen/phuego_generate_networks/dataset/intact.txt"
    xml_template_path = "/nfs/research/petsalaki/users/hchen/phuego_generate_networks/dataset/sml-xmlconf_all.xml"

    species_ID = "9606"
    species = "human"
}

process {
    executor = 'slurm'
    memory = '4G'
    errorStrategy = 'finish'
    time = '7d'
    container = 'file://env/phuego_generate_net.sif'
}

env {
    out_dir = '/nfs/research/petsalaki/users/hchen/phuego_generate_networks/result'
}

singularity {
    enabled = true
    autoMounts = true
}

dag {
    enabled = true
    file = 'flowchart.png'
    overwrite = true
}

trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
}

report {
    enabled = true
    overwrite = true
    file = 'report.html'
}

